server:
  port: 8081
  error:
    include-message: always
    include-binding-errors: always

spring:
  datasource:
    url: jdbc:sqlite:./data/app.db
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect
        jdbc.lob.non_contextual_creation: true
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
